:root {
    --color-primary: #ffffff;
    --color-sidebar-first-bg: #051e34;
    --color-nav-bg: #1b72e8;
    --color-button-nav: #1a1a1a4f;
    --color-circle-bg: #f26551;
    --color-button-green: #198754;
    --color-button-yellow: #ffc107;
    --color-buton-red: #dc3545;
    --color-icon-color: #6c757d;
    --color-grafic-color: #3e76d3;
    --color-bell: #ff8f00;
}

body {
    font-family: "Roboto", sans-serif;
}

li{
    list-style: none;
}

.debug {
    border: 1px solid red;
}

.wrapper {
    height: 100vh;
    width: 100%;
}

header {
    z-index: 3001;
    width: 100%;
    height: 75px;
    background-color: var(--color-primary);
}

#search {
    width: 80%;
}

.right-header div {
    margin: auto 20px;
    font-size: 1.2em;
}

.right-header ul li:hover{
    background-color: rgba(0, 0, 0, 0.102);
    border-radius: 10px;
}


.fas.fa-bell {
    color: var(--color-bell);
}

.offcanvas.offcanvas-end {
    width: 50%;
}

/* *************** sidebar ***************** */
#sidebar {
    background-color: var(--color-sidebar-first-bg);
    background-image: url(../img/sidebar-bg.png);
    height: 100%;
    width: 180px;
    padding: 20px;
    color: white;

}

.sidecont {
    padding-top: 73px;

}

.side span {
    font-size: 1.2em;
    padding-right: 10px;
    
    
}

.side>span:hover {
    background-color: #eeeeee98;
    cursor: pointer;
    border-radius: 10px;
}



/* *********** ******** ************************ */



main {
    height: 100%;
    width: calc(100% - 180px);
   
    padding-top: 73px;
}

/* *********** top - main ***************** */
#top-main {
max-width: 100%;
    height: 150px;
    background-color: var(--color-nav-bg);
}

.badge-b {
    background-color: #165BBA;
}

.plus-hover {
    color: white;
    border: 1px solid white;
    flex-direction: ;

}



.plus-hover:hover {
    color: var(--color-nav-bg);
    background-color: white;
}

/* ********** bottom - main ****************** */
#bottom-main {}

/* ****** first card **++ */
.img-table {
    width: 35px;
    height: 100%;
    border-radius: 50%;
}

.td-card {
    width: 10%;
    text-align: center;
}


.todo li{
    padding: 10px;
    

}

i.fa-solid.fa-pencil{
    font-size: 0.9em;
}

table button{
    margin:4px;
}



@media screen and (max-width:992px) {

    #sidebar{
        width: 80px;
    }

    main{
        width: calc(100% - 80px);
    }



}


@media screen and (max-width:768px) {


    #top-main{
        height: 220px;
    }

    #top-main div.row div:nth-child(3){
        order: -2;
    }

    .offcanvas.offcanvas-end {
        width: 100%;
    }
    
}

